body {
  margin: 0;
  background-color: #333333;
}

#content-container {
	height: 65vh;
	
}

#server-container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 35vh;
}

#server-one, #server-two, #server-three {
	visibility: hidden;
}

@media screen and (max-width: 1200px) {
	#server-one, #server-two {
		display: none;
	}
}