.profpic {
    margin-left:auto;
    margin-right:auto;
    width:300px;
    height:300px;
    border-radius:150px;
    background: url(../imgs/profpic.png)
}

#name {
    text-align:center;
    font-family:Arial;
    font-weight:lighter;
    font-size:40px;
    margin-top:40px;
}

#blurb {
    font-family:Arial;
    text-align:center;
    text-align:justify;
    padding:0% 36% 0% 36%;
 
}


/*Below is the CSS for the tile navbox*/
#tile {
	font-size: 16px;
    font-family:Arial;
    display: block;
	text-align: center;
    color: black;
	margin: 3% 5% 5% 5%;
}
    


#blog {
	padding: 15px 55px 15px 55px;
    margin:-3px;
	background-color: white;
	border: 2px solid black;
	color: black;
	text-decoration: none;
	display: inline-block;
}
    
#blog:hover {
    background-color:#dedede;
}

#contact {
	padding: 15px 90px 15px 90px;
    margin:-10px;
	background-color: white;
	border: 2px solid black;
	color: black;
	text-decoration: none;
	display: inline-block;
}

#contact:hover {
    background-color:#dedede;
}

#linkedin {
	padding: 15px 91px 15px 91px;
    margin:-10px -10px -10px 6px;
	background-color: white;
	color: black;
    border: 2px solid black;
	text-decoration: none;
	display: inline-block;
}

#linkedin:hover {
    background-color:#dedede;
}

#twitter {
	padding: 15px 43px 15px 43px;
    margin:-1px;
	background-color: white;
    color: black;
	border: 2px solid black;
	text-decoration: none;
	display: inline-block;
}

#twitter:hover {
    background-color:#dedede;
}

#github {
	padding: 15px 46px 15px 46px;
    margin:-2px -2px -2px -7px;
	background-color: white;
	color: black;
    border: 2px solid black;
	text-decoration: none;
	display: inline-block;
}

#github:hover {
    background-color:#dedede;
}

#books {
	padding: 15px 95px 15px 95px;
    margin:-10px;
	background-color: white;
	color: black;
    border: 2px solid black;
	text-decoration: none;
	display: inline-block;
}

#books:hover {
    background-color:#dedede;
}