* {
	box-sizing: border-box;
	color: #333;
	font-family: "Helvetica Neue";
}

.profpic {
    margin-left:auto;
    margin-right:auto;
    width:300px;
    height:300px;
    border-radius:150px;
    background: url(../imgs/profpic.png)
}

#name {
    text-align:center;
    font-weight:lighter;
    font-size:50px;
    margin: 0;
    margin-top:40px;
}

#blurb {
    text-align:left;
    padding:0% 20%;
    margin: 0;
    padding-bottom: 30px;
    font-size: 1.2rem;
    color: #555 !important;
}

@media (max-width: 600px) {
	#blurb {
		padding: 5px;
	}
}
/*BELOW IS CSS FOR NAVBOX*/

/*nav container*/
#tile {
	font-size: 16px;
    display: block;
	margin: 3% 5% 5% 5%;
	width: 400px;
	margin: 0 auto;
}
/*class for box styling*/
.box {
	background-color: white;
	border: 1px solid #eee;
	text-decoration: none;
	float: left;
	width: 50%;
	height: 50px;
	line-height: 50px;
	font-size: 1.2rem;
	font-weight: 200;
	text-align: center;
}

.box:hover {

}
    
#linkedin {
	width: 30%;
}

#twitter {
	width: 70%;
}


/*HOVER ANIMATION FOR NAVBOX*/
.box:hover{
	background-color:#dedede;
	color: white;
}



/*SQL TABLE*/

.trow
{
    height: 50px !important; /* Overwrite any previous rules */
    background-color: #FFFFFF;
    margin: 0px !important
}

table { 
margin-left: 5%;
margin-right: 5%;
color: #333; /* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
width: 90%; 
border-collapse: 
collapse; border-spacing: 0; 
}



td { border: 1px solid #CCC; height: 200px; } /* Make cells a bit taller */


th {
background: #F3F3F3; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
}

td {
background: #FAFAFA; /* Lighter grey background */
text-align: center; /* Center our text */
}


