



/*INDEX STYLING*/
body {
	background-color: #FEFEFA;
	transition: background-color 1s ease-in;
}


/*CONTENT STYLING*/
#blurb {
	width: 381px;
	margin: 20px auto;
	color: #333333;
	transition: color 1s ease-in;
}

.title {
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	font-size: 24px;
	margin: 0px;
}

.bold-subtitle {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 15px;
	margin: 0px;
}

.text {
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
}


/*LINKS AND NAVIGATION*/
a {
	color: inherit;
	text-decoration: none;
}

.fa {
  transition: all .5s ease-out;
}

.fa:hover {
  transform: rotate(360deg) scale(1.8);
}

#navbar {
  display: flex;
  justify-content: space-around;
}


/* ANIMATION CONTAINER  */
#pc-animation {
	width: 385px;
	margin: auto;
  margin-top: 70px;
}


/*KEYBOARD CSS*/
#keyboard-container {
  width: 310px;
  height: 82px;
  margin: 0 auto;
  border: 4px solid #FEFEFA;
  border-radius: 8px;
  padding-left: 6px;
  padding-top: 6px;
}

ul {
  list-style-type: none;
}


.key {
  text-align: none;
  width: 14px;
  height: 14px;
  border: 1px solid #FEFEFA;
  border-radius: 3px;
  display: inline-block;
  margin-right: 4px;
  margin-left: 0px;
}

.small-tab {
  width: 26px;
}

.large-tab {
  width: 38px;
}

.space-bar {
  width: 110px;
}

.active-key {
  background-color: #FEFEFA;
}



/* PC SCREEN ANIMATION */
#screen {
  margin: auto;
  margin-bottom: 40px;
  width: 310px;
  height: 216px;
  border: #FEFEFA solid 4px;
  padding-top: 0px;
  border-radius: 8px;
}

.data-stream {
  width: 288px;
  height: 15px;
  margin: auto;
  margin-top: 14px;
}

.data {
  border: #FEFEFA solid 1px;
  height: 12px;
  width: 30px;
  float: left;
  margin-right: 2px;
  margin-left: 2px;
}

.data-sm {
  width: 46px;
}

.data-lg {
  width: 129px;
}

.data-xs {
  width: 16px;
}

.data-md {
  width: 73px;
}

.active-data-1 {
  background: #FEFEFA;
}

.active-data-2 {
  background: #C59A6F
}

.active-data-3 {
  background: #821122;
}

.active-data-4 {
  background: #CCCCCC;
}

.active-data-5 {
  background: #561420;
}


@media screen and (max-width: 400px) {
  #blurb{
    width:330px;
    margin-top: 0px;
  }

  body{
    margin-top: 0px;
  }



}

