body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#banner {
  width: 100vw;
  height: 100vh;
  background-color: #00171F;
}

.star {
  background-color: #FFFFFF;
  position: absolute;
}