h1 {
	font-family: courier;
	font-weight:normal;
	text-align: center;
	margin-top: 4%;
	margin-bottom: 6%;
}

#centerContainer {
	height: 464;
}

#centerPic {
	display: block;
}


#btnOuter {
  float: left;
  width:86px;
  height: 464px;
  cursor: pointer;

}

#btnInner {
  font-family:courier;
  font-size:34px;
  width:31px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 7%;
  margin-top: 17%;
  padding-left: 9%;
  cursor: pointer;

}

#centerOuter {
	width:757px;
	height: 464px;
	border-style: solid;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;

}

#btnOuter:hover {
	background-color: #ffffe5
}

#outerMenu {
  border-style: solid;
  border-width: 1px;
  width:293px;
  height:464px;
  font-family:courier;
  font-size:38px;
  position: absolute;
  float: left
}

#innerMenu {
  width:183px;
  height:322px;
  margin-left: auto;
  margin-right: auto;
}

.menuItem {
  display:block;
  margin-top:50px;
  cursor: pointer;
}

.menuItem:hover {
  opacity:0.4;

}
